set NAME               {{NAME}}
set VENDOR             {{VENDOR}}
set LIBRARY            {{LIBRARY}}
set VERSION            {{VERSION}}
set VERSION_UNDERSCORE {{VERSION_UNDERSCORE}}
set SRC_DIR            {{SRC_DIR}}

set if_dir "[get_property DIRECTORY [current_project]]/if/${NAME}_v${VERSION_UNDERSCORE}"
file mkdir $if_dir

file copy -force "$SRC_DIR/${NAME}.xml" "$if_dir/"
file copy -force "$SRC_DIR/${NAME}_rtl.xml" "$if_dir/"

set proj_dir [get_property DIRECTORY [current_project]]
set current_repos [get_property ip_repo_paths [current_project]]
if {[lsearch -exact $current_repos $proj_dir] == -1} {
    set_property ip_repo_paths [concat $current_repos $proj_dir] [current_project]
}

update_ip_catalog -rebuild

puts "INFO: $NAME interface definition (${VENDOR}:${LIBRARY}:${NAME}:${VERSION}) loaded from $if_dir"
